# Node dependencies
node_modules/

# Production build outputs
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor configurations and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env files
.env
.env.production
.env.development
.env.local
